extends layout

block content
  <h1>#{title}</h1>
  <p>Welcome to #{title}</p>

  form(method='post' action='/' enctype='multipart/form-data' )
    input(type='button' value='Scan' onclick='AcquireImage();')
    br()
    br()
    div(id='dwtcontrolContainer')
    br()
    br()
    input(type='button' value='Upload Scan' onclick='DoUpload();')
  
    script.
      function AcquireImage() {
        var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
        if (DWObject) {
            DWObject.SelectSource(function () {
              var OnAcquireImageSuccess = OnAcquireImageFailure = function () {
                DWObject.CloseSource();
              };
              DWObject.OpenSource();
              DWObject.IfDisableSourceAfterAcquire = true;
              DWObject.AcquireImage(OnAcquireImageSuccess, OnAcquireImageFailure);
            }, function () {console.log('SelectSource failed!');});
        } 
      }

    script.
      function DoUpload() {
        var strHTTPServer = location.hostname; 
        var CurrentPathName = unescape(location.pathname); 
        var CurrentPath = CurrentPathName.substring(0, CurrentPathName.lastIndexOf("/") + 1); 
        var strActionPage = CurrentPath; 
        var uploadfilename = "TestImage.pdf";
        var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
        if (DWObject) {
          DWObject.HTTPPort = location.port == "" ? 80 : location.port; 
          DWObject.HTTPUploadAllThroughPostAsMultiPageTIFF (strHTTPServer, strActionPage, uploadfilename, 
            function() {
              console.log("successful");
            },
            function() {
              alert("error occurred -- see console"); 
              console.log("ErrorString - " + DWObject.ErrorString);
              console.log("HTTPPostResponseString - " + DWObject.HTTPPostResponseString);
            }
          );
        }
      }


  </form>
  <p style="color:red">#{message}</p>
