doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script type="text/javascript" src="/Resources/dynamsoft.webtwain.initiate.js"></script>
    <script type="text/javascript" src="/Resources/dynamsoft.webtwain.config.js"></script>
  body
    block content
